<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" type="text/css" href="Multimedia/stylesheetDJ.css" title="django">
    <meta http-equiv="default-style" content="django" />
    <meta http-equiv="content-style-type" content="text/css" /> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="shell">
   
    <section id="section">
       <h1>Modelo de FrameWork</h1>
       
        <ul>
            <li>vista'>'Peticion-Informacion'<'controlador'>'Demanda-Datos'<'modelo</li>
            <li>Vista-Controlador-Modelo</li>
            <li>Templete-View-Modelo  </li>
           
        </ul>
       
       <h2>Instalacion</h2>
       
        <ol>
            <li>Tener python en el path (mi equipo-propiedades-confi.avanzada-)</li>
            <li>Pagina de DJango</li>
            <li>pip install Django==version</li>
            <li>python //Entra en el powershell python</li>
            <li>import django</li>
            <li>django.VERSION</li>
            <li><a href="https://docs.djangoproject.com/en/4.0/ref/">Hoja de referencias DJango</a></li>
            <li>clases con los que trabaja: Request(peticiones)-HttpResponse(respuesta)</li>
        </ol>
       
       <h2>Crar Documento</h2>
       
        <ol>
            <li>cd directorio</li>
            <li>django-admin startproject NombreProyecto</li>
            <li>Se crea una carpeta>manage.py+carpeta>__init__.py+settings.py+urls.py+wsgi.py</li>
            <li>manage.py: Linea de comandos para interactuar</li>
            <li>__init__.py: Modulos de manage</li>
            <li>settings.py: Configuraciones</li>
            <li>urls.py:     Almacen de urls</li>
            <li>wsgi.py:     Servidor web</li>
        </ol>
      
       <h2>Crear base de Datos</h2>
       
        <ol>
            <li>cd directorio donde esta manage.py</li>
            <li>python manage.py migrate</li>
            <li>ok</li>
        </ol>
       
       <h2>CREAR BASE PostgreeSQL. *Model14911</h2>
     
        <ol>
            <li>instalar libreria desde dir manage.py: pip install psycopg2</li>
            <li><p>setings satabases ={ <br>
                'default':{<br>
                'ENGINE': 'django.db.backends.postgresql_psycopg2',<br>
                'NAME': 'articulosclientes',<br>
                'USER':'postgres',<br>
                'PASSWORD':'Model14911',<br>
                'HOST':'localhost',<br>
                'DATABASE_PORT':'5432',<br>
                }<br>
                }</p></li>
                <li>python manage.py makemigrations</li>
                <li>python manage.py migrate</li>
            <li><p>ORIGINAL: <br>
                setings satabases ={<br> 
                'default':{<br>
                'ENGINE': 'django.db.backends.sqlite3',<br>
                'NAME': BASE_DIR / 'db.sqlite3',<br>
                }<br>
                }</p></li>
                <li>*postgreeSQL crea tablas por defecto de users, users_goup, permission, migrations, sessions, etc. </li>
        </ol>
       
       <h2>Comprobar ejecutando el Servidor</h2>
    
        <ol>
            <li>python manage.py runserver</li>
            <li>starting development server at http//127.0.0.1:800/</li>
            <li>navegador:http//127.0.0.1:800/</li>
            <li>Salir del serviodor con ctrl+supr</li>
        </ol>
       
       <h2>Crear el modulo "views.py" y "urls.py"</h2>
       
        <ol>
            <li><p><span name="verde">from django.http import HttpResponse</span><br>
                   <span name="azul">def funcion(request):                 # Funcion vista</span> <br>
                   <span name="rojo">return HttpResponse("Hola mundo")     # Regresa un HTML5</span> <br> <br>
                   urls.py: <br>
                   from django.contrib import admin <br> 
                   from django.urls import path <br>
                  <span name="azul"> from proyecto.views import saludo </span><br>
                   urlpatterns = [ <br>
                   path('admin/',admin.site.urls), <br>
                 <span name="azul">path('nombreUrl/',saludo),]</span></p></li>
            <li><p><span name="verde">from django.http import HttpResponse</span> <br>
                    def damehora(request):<br>
                    date1=datetime.datetime.now()<br>
                    documeto="""<&html><&body><&p>  <br>
                    Fecha y Hora actuales %s  #  %s Posicionador python<br>
                    <&/p><&/body><&/html>"""" %date1         # % Posicionamos a variable<br>
                    <span name="rojo">return HttpResponse(documento)</span><br>
                
                def edadf(request,edad,agno):<br>
                    periodo=agno-2019<br>
                    resultado=edad+periodo<br>
                    documeto="""<&html><&body><&p><br>
                    Tue edad actual %s, tu edad en el año %s sera %s     #  %s Posicionador python<br>
                    <&/p><&/body><&/html>"""" %(edad, agno, resultado)       # % Posicionamos a variable<br>
                    <span name="rojo">return HttpResponse(documento)</span>
                    <br><br>
                urls.py: <br>
                from django.contrib import admin<br>
                from django.urls import path<br>
<span name="azul">from proyecto.views import saludo,damehora,edadf</span><br>
                
                urlpatterns = [<br>
                    path('admin/',admin.site.urls),<br>
                    path('nombreUrl/',saludo),        #direccion agregada<br>
                    path('fecha/',damehora),          #direccion agregada <br>
  <span name="azul"> path('edadfutura/<&int:edad>/<&int:agno>',edadf)</span>]</p></li>
        </ol>
       
       <h2><p>I.-   CREAR TEMPLATES         plt=Template(doc_externo.read()) <br>
              II.-  CREAR un CONTEXTO       ctx=Contexto() <br>
              III.- Renderizar el Template  documento=plt.render(ctx)</p></h2>
        <ol><li> <ol class="subli">
            <li>template.html en carpeta templates hubicada en carpeta modulos</li>
            <li>Crea en views.py: <br>  
                from django.http import HttpResponse <br>     
                from django.template import Template,Context <br>  
                from django.template import loader <br>
                from django.shortcuts import render <br>
                import datetime </li>
            <li>Crear la variable cambiando '\' por '/' en la url<br>   
                doc_externo=open(cd/../plantillas/plantilla.html)</li>
            <li>Cramos el objeto template  <br>  
                plt=Template(doc_externo.read()) <br>
                doc_externo.close()</li>
            <li>Creamos la Variable context <br> 
                ctx=Contex()</li>
            <li>documento=plt.render(ctx)</li>
            <li>return HtmlResponse(documento)</li></ol></li>
            <li><ol class="subli">
             <li>diccionario=Context({1:p2,2:lista})</li>
             <li>direccion=loader.get_template('contraportada.html')</li>
             <li>documento=direccion.render(diccionario)</li>
             <li>return HttpResponse(documento)</li>
            </ol></li>
            <li><ol class="subli">
               <li>return render(request,"contraportada.html",diccionario)</li>
            </ol></li>
            
        </ol>
       <h2>Metodos para manejar template.html</h2>
       <ol>
        <li>En la variable contexto cargamos un diccionario con variables</li>
        <li>LAS VARIABLES DE PYTHON SE LLAMAN ENTRE DOBLE LLAVE y usamos '.'(Diccionario,Atributo,Método,Indice)</li>
        <li>Las estructuras de control se abren y cierran {% * }{% end }</li>
        <li>EXISTEN FILTROS PARA TRATAR LAS VARIABLES PYTHON:verificar documentacion <br>
            |.upper|.lower|.first|  </li>
        <li>Incrustrar plantilla.html <br> 
            {% include "bara.html" %}</li>
        <li>Plantilla padre, indicamos los espacios 'block'<br>
            {% block title %}
            {% endblock %} 
            {% block content %} <br>
            {% endblock %}</li>
        <li>Plantillas hijas, llenamos las etiquetas 'block'<br>
            {% extends "base.html" %} <br>
            {% block title %} <br>
            Curso DJ          <br>
            {% endblock %}    <br>
            {% block content %} <br>
            <&p>{{fecha}}<&/p>    <br>
            <&iframe width="560" height="315" src="https://www.youtube.com/embed/-863-Dkmtio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen><&/iframe> <br>
            {% endblock %}
            </li>
       </ol>
       <h2>CREAR UNA APP</h2>
     
        <ol>
            <li>python manage.py startapp gestionPedidos</li>
            <li>Registrarlo en setings.py: <br>
                INSTALLED_APPS = [''] </li>
            <li>python manage.py check nombreapp</li>
            <li>Despues de hacer los models</li>
            <li>python manage.py makemigrations </li>
            <li>python manage.py sqlmigrate nombreapp No.de.migracion</li>
            <li>python manage.py migrate</li>
        </ol>
       <h2>Modelos models.py (Tablas de la base de datos)</h2>
       <ul>
        <li>class Clientes(models.Model):</li>
        <li>nombre=models.CharField(max_length=30)</li>
        <li>direccion=models.CharField<span name="verde">(max_length=50, verbose_name="La dirección")</span></li>
        <li>email=models.EmailField<span name="verde">(blank=True,null=True)</span></li>
        <li>telefono=models.CharField(max_length=7)</li>
        <li><span name="rojo"> def__str__(self):</span></li>
        <li><span name="rojo"> return "Cliente: %s " %(self.nombre)</span></li>
        <li></li>
        <li>class Articulos(models.Model):</li>
        <li>nombre=models.CharField(max_length=30)</li>
        <li>seccion=models.CharField(max_length=20)</li>
        <li>precio=models.IntegerField()</li>
        <li><span name="rojo"> def __str__(self):</span></li>
        <li><span name="rojo"> return "El nombre es %s la seccion es %s y el precio es %s" %(self.nombre,self.seccion,self.precio)</span></li>
        <li></li>
        <li>class Pedidos(models.Model):</li>
        <li>numero=models.IntegerField()</li>
        <li>fecha=models.DateField()</li>
        <li>entregado=models.BooleanField()</li>
        <li></li>
       </ul>
       <h2>INSERTAR, BORRAR, ACTUALIZAR, CONSULTAR BBDD</h2>
     
        <ul>
            <li>python manage.py shell
         <p><br>>>>from gestionPedidos.models import Articulos<br>
            >>>var=Articulos(nombre='mesa',seccion='decoracion',precio=90) <br>
            >>>var.save()<br>
            >>>var2=Articulos.objects.create(nombre='taladro',seccion='ferreteria',precio=100)<br><br>
            >>>var.precio=95<br>
            >>>var.save()<br><br>
            >>>var4=Articulos.objects.get(id=x)<br>
            >>>var4.delete()<br><br>
            >>>lista=Articulos.objects.all()<br>
            >>>lista.query.__str__()<br> <br>
            >>>Articulos.objects.filter(seccion='deportes')<br>
            >>>Articulos.objects.filter(name='balon',seccion='deportes')<br>
            >>>Articulos.objects.filter(seccion='deportes', precio__gte=100)<br>
            >>>Articulos.objects.filter(seccion='deportes', precio__lte=100)<br>
            >>>Articulos.objects.filter(seccion='deportes', precio__range(100,150))<br>
            >>>Articulos.objects.filter(precio__gte=50).order_by('precio')<br>
            >>>Articulos.objects.filter(precio__gte=50).order_by('-precio') </p></li>
            <li>from django.db.models import Q <br>
                Item.objects.filter(Q(creator=owner) | Q(moderated=False))</li>
            <li></li>
        </ul>
    
        <h2>Utilizar sobre database--query tool--comandos SQL</h2>
        <ol>
            <li>python manage.py makemigrations</li>
            <li>python manage.py migrate</li>
            <li>derecho sobre tabla - view data all rows</li>
            
        </ol>
        <h2>Panel de administracion</h2>
        <ol>
            <li>admin.py, setings.py, urls.py</li>
            <li>python manage.py createsuperuser <br>
                ErickD <br>
                password:Models1945</li>
            <li>*postgreeSQL crea tablas por defecto de users, users_goup, permission, migrations, sessions, etc. </li>
            <li>Desde el Panel se pueden manipular las tablas: add, delate, update</li>
            <li>Desde settings.py podemos cambiar el idioma del panel</li>
            <li>Agregar usuarios: <br>
                Permisos: superusuario(Total),staff(Panel),activo(urls restringidas),<br>
                Gupos:Configura permisos para que los usuarios puedad modificar tablas. <br>
                </li>
         </ol>
        <h2>Admin.py</h2>
        <ul>
            <li>from django.contrib import admin <br>
                from gestionPedidos.models import Clientes, Articulos, Pedidos1</li>
            <li>
                <h3>Agregar campos, buscadores, filtros, navegacion <br> 
                    en el Panel de administracion, creando clases:</h3>
            </li>
            <li>class ClientesAdmin(admin.ModelAdmin): <br>
                list_display=("nombre","direccion","telefono") <br>
                search_fields=("nombre","direccion")  # </li>
            <li>class ArticulosAdmin(admin.ModelAdmin): <br>
                list_filter=("seccion",)# Tupla coma</li>
            <li>class PedidosAdmin(admin.ModelAdmin): <br>
                list_display=("numero","fecha") <br>
                list_filter=("fecha",) <br>
                date_hierarchy="fecha"</li>
            <li>
                <h3>Registramos la tabla en el panels (Agrega una 's' al final nombre de la tabla)</h3>
            </li>
            <li>admin.site.register(Clientes, ClientesAdmin) <br>
                admin.site.register(Articulos, ArticulosAdmin) <br>
                admin.site.register(Pedidos,PedidosAdmin)
                </li>
        </ul>
        <h2>Formularios</h2>
    <ol>
        <li>Crear Templates en la app "formulario.html"<br>
        form action="/buscar/" method="GET, POST" <br>
        input type="text" name="prd" <br>
        input type="submit" value="Buscar" 
        <li>views.py <br>
            from django.shortcuts import render <br>    
            from django.http import HttpResponse <br><br>
            def busqueda_productos(request):     <br>
            return render(request, "formulario.html") <br><br>
            def buscar(request): <br>
            if request.GET["prd"]: <br>
     &nbsp; mensaje="Articulo buscado= %r" %request.GET["prd"] <br>
            else:                                   <br>
     &nbsp; mensaje="No has introducido una busqueda"
     &nbsp; return HttpResponse(mensaje)
        </li>
        <li>urls.py <br>
            from gestionPedidos.views import busqueda_productos,buscar <br><br>
            path('busqueda_productos/',busqueda_productos), <br>
            path('buscar/',buscar), <br>
        </li>
        <li>Busqueda en la base de Datos views.py<br>
            <span name="azul">
                from django.shortcuts import render <br>
from django.http import HttpResponse<br>
from gestionPedidos.models import Articulos<br>
from requests.exceptions import HTTPError<br>
import requests<br>
# Create your views here.<br><br>

def busqueda_productos(request):<br>
    return render(request, "formulario.html")<br>
def buscar(request):<br>
    if request.GET["clave"]:<br>
&nbsp;&nbsp;       # mensaje="Articulo buscado= %r" %request.GET["clave"]<br>
&nbsp;&nbsp;       producto=request.GET["clave"]<br>
&nbsp;&nbsp;       if len(producto)>20:<br>
&nbsp;&nbsp;&nbsp;&nbsp; mensaje="Texto de busqueda demasiado largo"<br>
&nbsp;&nbsp;       else:<br>
&nbsp;&nbsp;&nbsp;&nbsp; articulos=Articulos.objects.filter(nombre__icontains=producto)<br> 
&nbsp;&nbsp;&nbsp;&nbsp; return render(request,"resultado_busqueda.html",{"articulos":articulos,"query":producto})<br>     
    else:<br>
&nbsp;&nbsp;        mensaje="No has introducido una busqueda"<br>
    return HttpResponse(mensaje)
            </span>
        </li>
        <li>Busqueda en la base de datos templates.html <br>
            <&p>Estas buscando: <&strong>{{query}}<&/strong><&/p> <br>
    {% if articulos %} <br>
        <&p>Articulos encontrados: {{articulos|length}} articulos<&/p> <br>
        <&ul> <br>
            {% for articulo in articulos%} <br>
                <&li> <br>
                    {{articulo.nombre}} &nbsp {{articulo.precio}} <br>
                <&/li> <br>
            {% endfor %} <br>
        <&/ul> <br>
    {% else %} <br>
        <&p>No está el articulo<&/p> <br>
    {% endif %} <br>
        </li>
   </ol>
    <h2>Request</h2>
    <ul>
        <li>pip install requests</li>
        <li>import requests</li>
        <li>from requests.exceptions import HTTPError</li>
        <li>Metodos: <br>
            GET - Retrieve data or headers<br>
            PUT - Replace data<br>
           POST - Create data<br>
         DELETE - Delete data
        </li>
        <li><h3>Ejemplo:</h3> <br>
            answer = requests.get('https://w3schools.com') <br>
            print(answer.status_code) [*answer.raise_for_status()]<br> <br>
            query = {'lat':'45', 'lon':'180'} <br>
            answer = requests.get('http://api.open-notify.org/iss-pass.json', params=query) <br>
            print(answer.json()) <span name="rojo"># Convierto a diccionrio</span><br> <br>
           <span name="rojo"> # Create a new resource</span> <br>
            response = requests.post('https://httpbin.org/post', data = {'key':'value'}) <br> <br>
           <span name="rojo"> # Update an existing resource </span><br>
            requests.put('https://httpbin.org/put', data = {'key':'value'})
        </li>
        <li><span name="azul">answer.content() return the raq bytes<br>
            answer.text() return a tring<br>
            answer.encoding = 'utf-8' #optional <br>
            answer.headers return diccionario de metadatos no responsive<br>
            answer.json() = json.loads(answer) return diccionary<br></span>
        </li>
        <li><h3>Request con parametros como tupla ','</h3> <br>
            import requests<br>

            response = requests.get(<br>
            'https://api.github.com/search/repositories',<br>
            params={'q': 'requests+language:python'},<br>
            <span name="rojo"># params=[('q', 'requests+language:python')] lista de tupla</span><br>
            <span name="rojo"># params=b'q=requests+language:python', datos bytes</span><br>
            headers={'Accept': 'application/vnd.github.v3.text-match+json'},<br>
            )<br>

            json_response = response.json()<br>
            repository = json_response['items'][0]<br>
            print(f'Text matches: {repository["text_matches"]}')<br>

        </li>
        <li><h3>Verificar Request</h3> <br>
            <span name="verde">>>> response = requests.post('https://httpbin.org/post', json={'key':'value'})</span><br>
            <span name="azul">>>> response.request.headers['Content-Type']</span><br>
            <span name="rojo">'application/json'</span> <br>
            <span name="azul">>>> response.request.url</span><br>
            <span name="rojo">'https://httpbin.org/post'</span><br>
            <span name="azul"> >>> response.request.body</span><br>
            <span name="rojo">b'{"key": "value"}'</span>
         
            
        </li>
        <li><h3>Autentificar:</h3> <br>
            >>> from requests.auth import HTTPBasicAuth <br>
            >>> from getpass import getpass <br><br>
            requests.get('https://api.github.com/user', <br>
            auth=HTTPBasicAuth('username', 'password')) <br>
            <span name="rojo">auth=('username', getpass())</span>
       </li>
        <li><h3>Autentificar token</h3> <br>
            my_headers = {'Authorization' : 'Bearer {access_token}'} <br>
            response = requests.get('http://httpbin.org/headers', headers=my_headers)</li>
        <li><h3><span name="rojo">Otros metodos de autentificazion son: HTTPdigestAuth, HTTPProxyAuth, Kerberos, NTLM, and AuthBase</span></h3> <br>
            import requests <br>
from requests.auth import AuthBase<br><br>

class TokenAuth(AuthBase):<br>
    """Implements a custom authentication scheme."""<br>

    def __init__(self, token):<br>
        self.token = token<br>

    def __call__(self, r):<br>
        """Attach an API token to a custom auth header."""<br>
        r.headers['X-TokenAuth'] = f'{self.token}'  # Python 3.6+<br>
        return r<br><br>


requests.get('https://httpbin.org/get', auth=TokenAuth('12345abcde-token'))<br><br>

       <h3>Verificacion SSL: </h3><br>
            requests.get('https://api.github.com', verify=False) #desactivada
        </li>
        <li><h3>Objetos de sesion persistente</h3> <br>
            with requests.Session() as session:<br>
            session.auth = ('username', getpass())<br><br>

            # Instead of requests.get(), you'll use session.get()<br>
            response = session.get('https://api.github.com/user')<br><br>

            # You can inspect the response just like you did before<br>
            print(response.headers)<br>
            print(response.json())<br><br><br>
            session = requests.Session() <br>
            session.headers.update({'Authorization': 'Bearer {access_token}'}) <br>
            response = session.get('https://httpbin.org/headers') <br>
        <li><span name="azul">import requests<br>
            from requests.adapters import HTTPAdapter<br>
            from requests.exceptions import ConnectionError<br><br>

            github_adapter = HTTPAdapter(max_retries=3)<br>

            session = requests.Session()<br><br>

            # Use `github_adapter` for all requests to endpoints that start with this URL<br>
            session.mount('https://api.github.com', github_adapter)<br><br>

            try:<br>
            session.get('https://api.github.com')<br>
            except ConnectionError as ce:<br>
            print(ce)</span>

        </li>
        </li>
        <li><h3>Errores de coneccion HTTP</h3> <br>
        <span name="rojo"> 1xx informational:indica que se a recibido una solicitud y que el cliente <br>  
        debe continuar realizando solicitudes <br> <br>
        2xx Successful: recibido,entendido y aceptado una accion solicitada <br> <br>
        3xx Redirection: indica que el cliente debe ralizar una accion adicional para completar la solicitud  <br><br>
        4xx Client error: falta de autorizaciòn, acceso prohibido, metodos no permitidos <br>
        o intentos de acceder a recursos inexistentes. <br> <br>
        5xx Server error: problemas con el proveedor</span>     
        </li>
        <li><h3>Verificacion de errores conexion HTTP:</h3> <br>
            response = requests.get("http://api.open-notify.org/astros.json")<br>
            if (response.status_code == 200):<br>
                print("The request was a success!")<br>
                # Code here will only run if the request is successful<br>
            elif (response.status_code == 404:<br>
                print("Result not found!")<br>
                # Code here will react to failed requests <br> <br>
                try:<br>
                response = requests.get('http://api.open-notify.org/astros.json')<br>
                response.raise_for_status()<br>
                # Additional code will only run if the request is successful<br>
            except requests.exceptions.HTTPError as error:<br>
                print(error)<br>
                # This code will run if there is a 404 error.
        </li>
        <li><h3>Error: TooManyRedirects</h3><br>
            response = requests.get('http://api.open-notify.org/astros.json', max_redirects=2) <br>
            response = requests.get('http://api.open-notify.org/astros.json', allow_redirects=False) <br> <br>
            try:
    response = requests.get('http://api.open-notify.org/astros.json')
    response.raise_for_status()
    # Code here will only run if the request is successful
except requests.exceptions.TooManyRedirects as error:
    print(error)
        </li>
        <li><h3>Error:ConnectionError</h3> <br>
            try:
    response = requests.get('http://api.open-notify.org/astros.json') 
    # Code here will only run if the request is successful
except requests.ConnectionError as error:
    print(error)
        </li>
        <li><h3>Error:Timeout,Una solución final es incorporar llamadas API asíncronas<br> 
            Para evitar que su código se detenga mientras espera respuestas más grandes.</h3> <br><br>
            try:<br>
    response = requests.get('http://api.open-notify.org/astros.json', timeout=0.00001)<br>
    <span name="rojo"> # timeout=(2, 5)</span><br>
except requests.Timeout as error:<br>
    print(error)
        </li>
        <li><h3>Resumen de Errores </h3><br><span NAME="azul">
            try: <br>
    response = requests.get('http://api.open-notify.org/astros.json', timeout=5)<br>
    response.raise_for_status()<br>
    # Code here will only run if the request is successful<br>
except requests.exceptions.HTTPError as errh:<br>
    print(errh)<br>
except requests.exceptions.ConnectionError as errc:<br>
    print(errc)<br>
except requests.exceptions.Timeout as errt:<br>
    print(errt)<br>
except requests.exceptions.RequestException as err:<br>
    print(err)
    </span></li>
    </ul>
    <h2>Json (import json) <br>
        Se maneja como diccionarios </h2>
    <ul>
        <li>Json - Python: pData=json.loads(jData)</li>
        <li>Python - Json: jData=json.dumps(pData)</li>
        <li>Parametros de ordenacion <br>
            json.dumps(pData, indent=4, separators=(". ", " = ")) <br>
            json.dumps(x, indent=4, sort_keys=True)</li>
        <li></li>
    </ul>
    <h2>Email</h2>
    <ul>
        <li>settings.py: smtp<br>
            EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend" <br>
            EMAIL_HOST="smtp.gmail.com" <br>
            EMAIL_USE_TLS=True <br>
            EMAIL_PORT=587 <br>
            EMAIL_HOST_USER="" <br>
            EMAIL_HOST_PASSWORD="" 
        </li>
        <li>Probar desde consola: <br>
            python manage.py shell <br>
            from django.core.mail import send_mail<br> 
            send_mail('prueba de asunto','Este seria el mensaje','lordwilde1895@gmail.com',['theraijuu@gmail.com'],fail_silently=False)
        </li>
        <li>views.py <br>
            from django.core.mail import send_mail<br>
            from django.conf import settings<br>
            def contacto(request):<br>
            if request.method=="POST":<br>
            &nbsp;&nbsp;&nbsp;&nbsp; subject=request.POST["asunto"]<br>
            &nbsp;&nbsp;&nbsp;&nbsp; message=request.POST["mensaje"]+" "+request.POST["email"]<br>
            &nbsp;&nbsp;&nbsp;&nbsp; email_from=settings.EMAIL_HOST_USER<br>
            &nbsp;&nbsp;&nbsp;&nbsp; recipient_list=["theraijuu@gmail.com"]<br>
            &nbsp;&nbsp;&nbsp;&nbsp; send_mail(subject,message,email_from,recipient_list)<br>
            &nbsp;&nbsp;&nbsp;&nbsp; return render(request, "gracias.html")<br>
          return render(request,"contacto.html")
        </li>
    </ul>
    <h2>API Forms</h2>
    <ol>
        <li>forms.py > clases por  <br> 
            from django import forms <br> <br>

class Formulario_contacto(forms.Form): <br>
&nbsp;&nbsp;&nbsp;&nbsp;    asunto=forms.CharField() <br>
&nbsp;&nbsp;&nbsp;&nbsp;    email=forms.EmailField() <br>
&nbsp;&nbsp;&nbsp;&nbsp;    mensaje=forms.CharField()
        </li>
        <li>python manage.py shell <br>
            from gestionPedidos.forms import 'class'<br>
            objeto=class()<br>
            print(objeto)<br>
            print(objeto.as_p())<br>
            print(objeto.as_ul())<br>
            print(objeto.as_table())<br> <br>
            objeto.=class({'asunto':'prueba','email':'theraijuu@gmail.com','mensaje':'mensaje de prueba'})<br>
            micuestionario.is_valid()<br>
            micuestionario.cleaned_data<br>
        </li>
        <li>views.py <br>

        </li>
        <li>template.html <br>

        </li>

    </ol>
    </section>
</div>
</body>
</html>